ApiGateway/vendor/
ApiGateway/var/cache/
Process/microservice-monitor-server/node_modules/
Process/microservice-monitor/node_modules/
Microservices/data-provider/vendor/
Microservices/data-provider/var/cache
Microservices/documents/vendor/
Microservices/documents/var/cache/
Microservices/orders/vendor/
Microservices/orders/var/cache/
Microservices/cron-jobs/var/cache/
Microservices/cron-jobs/vendor/
Microservices/logger/var/cache/
Microservices/logger/vendor/
Microservices/notifications/var/cache/
Microservices/notifications/vendor/
Microservices/send-emails/var/cache/
Microservices/send-emails/vendor/