ApiGateway/vendor/
ApiGateway/cache/
Process/microservice-monitor-server/node_modules/
Process/microservice-monitor/node_modules/
Microservices/data-provider/vendor/
Microservices/data-provider/var/cache
Microservices/documents/vendor/
Microservices/documents/var/cache/
Microservices/orders/vendor/
Microservices/orders/var/cache/